In [1]:
# Dependencies and Setup
import pandas as pd
import os

# File to Load (Remember to change the path if needed.)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read the School Data and Student Data and store into a Pandas DataFrame
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

# Cleaning Student Names and Replacing Substrings in a Python String
# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

# Iterate through the words in the "prefixes_suffixes" list and replace them with an empty space, "".
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")

# Check names.
student_data_df.head(100)

/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:19: FutureWarning: The default value of regex will change from True to False in a future version.

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
...,...,...,...,...,...,...,...
95,95,Kevin Martinez,M,11th,Huang High School,89,58
96,96,Jessica Smith,F,9th,Huang High School,77,72
97,97,Dawn Trujillo,F,11th,Huang High School,82,87
98,98,Virginia Ramirez,F,10th,Huang High School,99,89
99,99,Marc Hernandez,M,10th,Huang High School,87,63

## Deliverable 1: Replace the reading and math scores.

### Replace the 9th grade reading and math scores at Thomas High School with NaN.

In [2]:
# Install numpy using conda install numpy or pip install numpy. 
import numpy as np

In [3]:
# Step 2. Use the loc method on the student_data_df to select 
#all the reading scores from the 9th grade at Thomas High School and replace them with NaN.
student_data_df.loc[(student_data_df["grade"]=="9th") 
                                          & (student_data_df["school_name"]=="Thomas High School"), 'reading_score']= np.nan


student_data_df.tail(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
39160,39160,Katie Weaver,F,11th,Thomas High School,89.0,86
39161,39161,April Reyes,F,10th,Thomas High School,70.0,84
39162,39162,Derek Weeks,M,12th,Thomas High School,94.0,77
39163,39163,John Reese,M,11th,Thomas High School,90.0,75
39164,39164,Joseph Anthony,M,9th,Thomas High School,NaN,76
39165,39165,Donna Howard,F,12th,Thomas High School,99.0,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95.0,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,NaN,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99.0,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95.0,75

In [4]:
#  Step 3. Refactor the code in Step 2 to replace the math scores with NaN.
student_data_df.loc[(student_data_df["grade"]=="9th") 
                                          & (student_data_df["school_name"]=="Thomas High School"), 'math_score']= np.nan


student_data_df.tail(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
39160,39160,Katie Weaver,F,11th,Thomas High School,89.0,86.0
39161,39161,April Reyes,F,10th,Thomas High School,70.0,84.0
39162,39162,Derek Weeks,M,12th,Thomas High School,94.0,77.0
39163,39163,John Reese,M,11th,Thomas High School,90.0,75.0
39164,39164,Joseph Anthony,M,9th,Thomas High School,NaN,NaN
39165,39165,Donna Howard,F,12th,Thomas High School,99.0,90.0
39166,39166,Dawn Bell,F,10th,Thomas High School,95.0,70.0
39167,39167,Rebecca Tanner,F,9th,Thomas High School,NaN,NaN
39168,39168,Desiree Kidd,F,10th,Thomas High School,99.0,90.0
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95.0,75.0

In [5]:
#  Step 4. Check the student data for NaN's. 
student_data_df.tail(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
39160,39160,Katie Weaver,F,11th,Thomas High School,89.0,86.0
39161,39161,April Reyes,F,10th,Thomas High School,70.0,84.0
39162,39162,Derek Weeks,M,12th,Thomas High School,94.0,77.0
39163,39163,John Reese,M,11th,Thomas High School,90.0,75.0
39164,39164,Joseph Anthony,M,9th,Thomas High School,NaN,NaN
39165,39165,Donna Howard,F,12th,Thomas High School,99.0,90.0
39166,39166,Dawn Bell,F,10th,Thomas High School,95.0,70.0
39167,39167,Rebecca Tanner,F,9th,Thomas High School,NaN,NaN
39168,39168,Desiree Kidd,F,10th,Thomas High School,99.0,90.0
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95.0,75.0

## Deliverable 2 : Repeat the school district analysis

### District Summary

In [6]:
# Combine the data into a single dataset
school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
school_data_complete_df.tail()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
39165,39165,Donna Howard,F,12th,Thomas High School,99.0,90.0,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95.0,70.0,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,NaN,NaN,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99.0,90.0,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95.0,75.0,14,Charter,1635,1043130

In [7]:
# Calculate the Totals (Schools and Students)
school_count = len(school_data_complete_df["school_name"].unique())
student_count = school_data_complete_df["Student ID"].count()

# Calculate the Total Budget
total_budget = school_data_df["budget"].sum()

In [8]:
# Calculate the Average Scores using the "clean_student_data".
average_reading_score = school_data_complete_df["reading_score"].mean()
average_math_score = school_data_complete_df["math_score"].mean()

In [9]:
# Step 1. Get the number of students that are in ninth grade at Thomas High School.
# These students have no grades. 
thsstudent_count = school_data_complete_df.loc[(school_data_complete_df["grade"]=="9th") 
                                          & (school_data_complete_df["school_name"]=="Thomas High School"),'grade'].count()

# Get the total student count 
student_count = school_data_complete_df["Student ID"].count()

# Step 2. Subtract the number of students that are in ninth grade at 
#Thomas High School from the total student count to get the new total student count

new_totalstudent_count = student_count - thsstudent_count

#thsstudent_count
#student_count
new_totalstudent_count

38709

In [10]:
# Calculate the passing rates using the "clean_student_data".
passing_math_count = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)].count()["student_name"]
passing_reading_count = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)].count()["student_name"]

In [11]:
# Step 3. Calculate the passing percentages with the new total student count.
reading_passing_percentage = passing_reading_count / new_totalstudent_count * 100
math_passing_percentage = passing_math_count / new_totalstudent_count * 100
reading_passing_percentage

85.6596657108166

In [12]:
# Calculate the students who passed both reading and math.
passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)
                                               & (school_data_complete_df["reading_score"] >= 70)]

# Calculate the number of students that passed both reading and math.
overall_passing_math_reading_count = passing_math_reading["student_name"].count()

# Step 4.Calculate the overall passing percentage with new total student count.
overall_passing_percentage = overall_passing_math_reading_count / new_totalstudent_count * 100
overall_passing_percentage

64.85571830840374

In [13]:
# Create a DataFrame
district_summary_df = pd.DataFrame(
          [{"Total Schools": school_count, 
          "Total Students": student_count, 
          "Total Budget": total_budget,
          "Average Math Score": average_math_score, 
          "Average Reading Score": average_reading_score,
          "% Passing Math": math_passing_percentage,
         "% Passing Reading": reading_passing_percentage,
        "% Overall Passing": overall_passing_percentage}])



# Format the "Total Students" to have the comma for a thousands separator.
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
# Format the "Total Budget" to have the comma for a thousands separator, a decimal separator and a "$".
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)
# Format the columns.
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.1f}".format)
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.1f}".format)
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.1f}".format)

# Display the data frame
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.9,81.9,74.8,85.7,64.9

##  School Summary

In [14]:
# Determine the School Type
per_school_types = school_data_complete_df.set_index(["school_name"])["type"]

# Calculate the total student count.
per_school_counts = school_data_complete_df["school_name"].value_counts()

# Calculate the total school budget and per capita spending
per_school_budget = school_data_complete_df.groupby(["school_name"]).mean()["budget"]
# Calculate the per capita spending.
per_school_capita = per_school_budget / per_school_counts

# Calculate the average test scores.
per_school_math = school_data_complete_df.groupby(["school_name"]).mean()["math_score"]
per_school_reading = school_data_complete_df.groupby(["school_name"]).mean()["reading_score"]

# Calculate the passing scores by creating a filtered DataFrame.
per_school_passing_math = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)]
per_school_passing_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)]

# Calculate the number of students passing math and passing reading by school.
per_school_passing_math = per_school_passing_math.groupby(["school_name"]).count()["student_name"]
per_school_passing_reading = per_school_passing_reading.groupby(["school_name"]).count()["student_name"]

# Calculate the percentage of passing math and reading scores per school.
per_school_passing_math = per_school_passing_math / per_school_counts * 100
per_school_passing_reading = per_school_passing_reading / per_school_counts * 100

# Calculate the students who passed both reading and math.
per_passing_math_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)
                                               & (school_data_complete_df["math_score"] >= 70)]

# Calculate the number of students passing math and passing reading by school.
per_passing_math_reading = per_passing_math_reading.groupby(["school_name"]).count()["student_name"]

# Calculate the percentage of passing math and reading scores per school.
per_overall_passing_percentage = per_passing_math_reading / per_school_counts * 100

per_overall_passing_percentage

Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       65.076453
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [15]:
per_overall_passing_percentage.index.duplicated()

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False])

In [25]:
# Create the DataFrame
per_school_summary_df = pd.DataFrame
([{"School Type": per_school_types,
"Total Students": per_school_counts,
"Total School Budget": per_school_budget,
"Per Student Budget": per_school_capita,
"Average Math Score": per_school_math,
"Average Reading Score": per_school_reading,
"% Passing Math": per_school_passing_math,
"% Passing Reading": per_school_passing_reading,
"% Overall Passing": per_overall_passing_percentage}])

per_school_summary_df

pandas.core.frame.DataFrame

In [26]:
# Format the Total School Budget and the Per Student Budget
per_school_summary_df["Total School Budget"] = per_school_summary_df["Total School Budget"].map("${:,.2f}".format)
per_school_summary_df["Per Student Budget"] = per_school_summary_df["Per Student Budget"].map("${:,.2f}".format)

# Display the data frame
per_school_summary_df

TypeError: 'type' object is not subscriptable

In [ ]:
# Step 5.  Get the number of 10th-12th graders from Thomas High School (THS).
thsstudent10_12_count = school_data_complete_df.loc[(school_data_complete_df["grade"]!="9th")
                                                    
                                            
                                          & (school_data_complete_df["school_name"]=="Thomas High School"),'grade'].count()

thsstudent10_12_count

In [ ]:
# Step 6. Get all the students passing math from THS
passing_math_ths = school_data_complete_df.loc[(school_data_complete_df["math_score"] >= 70)
                                          &  (school_data_complete_df["school_name"]=="Thomas High School"),'math_score'].count()

passing_math_ths

In [ ]:
# Step 7. Get all the students passing reading from THS
passing_reading_ths = school_data_complete_df.loc[(school_data_complete_df["reading_score"] >= 70)
                                          &  (school_data_complete_df["school_name"]=="Thomas High School"),'reading_score'].count()

passing_reading_ths

In [ ]:
# Step 8. Get all the students passing math and reading from THS
passing_mathreading_ths = school_data_complete_df.loc[(school_data_complete_df["math_score"] >= 70)
                                               & (school_data_complete_df["reading_score"] >= 70)
                                                & (school_data_complete_df["school_name"]=="Thomas High School"),'reading_score'].count()
passing_mathreading_ths

In [ ]:
# Step 9. Calculate the percentage of 10th-12th grade students passing math from Thomas High School. 
ths10_12_passing_math = passing_math_ths / thsstudent10_12_count * 100
ths10_12_passing_math

In [ ]:
# Step 10. Calculate the percentage of 10th-12th grade students passing reading from Thomas High School.
ths10_12_passing_reading = passing_reading_ths / thsstudent10_12_count * 100
ths10_12_passing_reading

In [ ]:
# Step 11. Calculate the overall passing percentage of 10th-12th grade from Thomas High School. 
ths10_12_passing_overal = passing_mathreading_ths / thsstudent10_12_count * 100
ths10_12_passing_overal

In [ ]:
# Step 12. Replace the passing math percent for Thomas High School in the per_school_summary_df.
per_school_summary_df.loc["Thomas High School","% Passing Math"] = ths10_12_passing_math
per_school_summary_df[per_school_summary_df.index == "Thomas High School"]

In [ ]:
# Step 13. Replace the passing reading percentage for Thomas High School in the per_school_summary_df.
per_school_summary_df.loc["Thomas High School","% Passing Reading"] = ths10_12_passing_reading
per_school_summary_df[per_school_summary_df.index == "Thomas High School"]

In [ ]:
# Step 14. Replace the overall passing percentage for Thomas High School in the per_school_summary_df.
per_school_summary_df.loc["Thomas High School","% Overall Passing"] = ths10_12_passing_overal
per_school_summary_df[per_school_summary_df.index == "Thomas High School"]

In [ ]:
per_school_summary_df

## High and Low Performing Schools

In [ ]:
# Sort and show top five schools.
per_school_summary_df.sort_values(by=['% Overall Passing'],ascending=False).head(5)

In [ ]:
# Sort and show Low five schools.
per_school_summary_df.sort_values(by=['% Overall Passing'],ascending=True).head(5)

## Math and Reading Scores by Grade

In [ ]:
# Create a Series of scores by grade levels using conditionals. 
ninegrade = school_data_complete_df[(school_data_complete_df["grade"] == '9th')]
tengrade = school_data_complete_df[(school_data_complete_df["grade"] == '10th')]
elevengrade = school_data_complete_df[(school_data_complete_df["grade"] == '11th')]
twelvegrade = school_data_complete_df[(school_data_complete_df["grade"] == '12th')]

# Group each school Series by the school name for the average math score.
nmgroup = ninegrade.groupby("school_name").mean()["math_score"]
tmgroup = tengrade.groupby("school_name").mean()["math_score"]
emgroup = elevengrade.groupby("school_name").mean()["math_score"]
twmgroup = twelvegrade.groupby("school_name").mean()["math_score"]

# Group each school Series by the school name for the average reading score.
nrgroup = ninegrade.groupby("school_name").mean()["reading_score"]
trgroup = tengrade.groupby("school_name").mean()["reading_score"]
ergroup = elevengrade.groupby("school_name").mean()["reading_score"]
twrgroup = twelvegrade.groupby("school_name").mean()["reading_score"]

In [ ]:
# Combine each Series for average math scores by school into single data frame.
avgmathsc = pd.DataFrame({
'9TH':nmgroup,
'10TH':tmgroup,
'11TH':emgroup,
'12TH':twmgroup})
avgmathsc.head()

In [ ]:
# Combine each Series for average reading scores by school into single data frame.
avgreadsc = pd.DataFrame({
'9TH':nrgroup,
'10TH':trgroup,
'11TH':ergroup,
'12TH':twrgroup})
avgreadsc.head()

In [ ]:
# Format each grade column.
avgmathsc["9TH"] = avgmathsc["9TH"].map("{:.1f}".format)
avgmathsc["10TH"] = avgmathsc["10TH"].map("{:.1f}".format)
avgmathsc["11TH"] = avgmathsc["11TH"].map("{:.1f}".format)
avgmathsc["12TH"] = avgmathsc["12TH"].map("{:.1f}".format)

avgreadsc["9TH"] = avgreadsc["9TH"].map("{:.1f}".format)
avgreadsc["10TH"] = avgreadsc["10TH"].map("{:.1f}".format)
avgreadsc["11TH"] = avgreadsc["11TH"].map("{:.1f}".format)
avgreadsc["12TH"] = avgreadsc["12TH"].map("{:.1f}".format)

avgreadsc.head()

In [ ]:
# Remove the index.
avgmathsc.index.name = None

# Display the data frame
avgmathsc.head()

In [ ]:
## Remove the index.
avgreadsc.index.name = None

# Display the data frame
avgreadsc.head()

## Scores by School Spending

In [ ]:
# Establish the spending bins and group names.
spending_bins = [0,585,630,645,675]
spending_group_names = ["<$584","$585-629","$630-644","$645-675"]

# Categorize spending based on the bins.
    # Generate the per_school_capita_df from "Per Student Budget" in per_school_summary_df
per_school_capita = per_school_summary_df["Per Student Budget"].str.strip("$").astype(float)
    # Cut the data in per_school_summary_df
per_school_summary_df["Spending Ranges (Per Student)"] = pd.cut(per_school_capita, spending_bins, labels=spending_group_names)
per_school_summary_df.head()
#per_school_summary_df.columns

In [ ]:
# Calculate averages for the desired columns. 

spending_math_scores = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]

spending_reading_scores = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]

spending_passing_math = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]

spending_passing_reading = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]

overall_passing_spending = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]

In [ ]:
# Create the DataFrame
spending_summary_df = pd.DataFrame({
          "Average Math Score" : spending_math_scores,
          "Average Reading Score": spending_reading_scores,
          "% Passing Math": spending_passing_math,
          "% Passing Reading": spending_passing_reading,
          "% Overall Passing": overall_passing_spending})

spending_summary_df

In [ ]:
# Format the DataFrame 
spending_summary_df["Average Math Score"] = spending_summary_df["Average Math Score"].map("{:.1f}".format)

spending_summary_df["Average Reading Score"] = spending_summary_df["Average Reading Score"].map("{:.1f}".format)

spending_summary_df["% Passing Math"] = spending_summary_df["% Passing Math"].map("{:.0f}".format)

spending_summary_df["% Passing Reading"] = spending_summary_df["% Passing Reading"].map("{:.0f}".format)

spending_summary_df["% Overall Passing"] = spending_summary_df["% Overall Passing"].map("{:.0f}".format)

spending_summary_df

## Scores by School Size

In [ ]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]
# Categorize spending based on the bins.
per_school_summary_df["School Size"] = pd.cut(per_school_summary_df["Total Students"], size_bins, labels=group_names)

per_school_summary_df.head()

In [ ]:
# Calculate averages for the desired columns. 

size_math_scores = per_school_summary_df.groupby(["School Size"]).mean()["Average Math Score"]

size_reading_scores = per_school_summary_df.groupby(["School Size"]).mean()["Average Reading Score"]

size_passing_math = per_school_summary_df.groupby(["School Size"]).mean()["% Passing Math"]

size_passing_reading = per_school_summary_df.groupby(["School Size"]).mean()["% Passing Reading"]

size_overall_passing = per_school_summary_df.groupby(["School Size"]).mean()["% Overall Passing"]

In [ ]:
# Assemble into DataFrame. 

size_summary_df = pd.DataFrame({
          "Average Math Score" : size_math_scores,
          "Average Reading Score": size_reading_scores,
          "% Passing Math": size_passing_math,
          "% Passing Reading": size_passing_reading,
          "% Overall Passing": size_overall_passing})

size_summary_df

In [ ]:
# Format the DataFrame  

size_summary_df["Average Math Score"] = size_summary_df["Average Math Score"].map("{:.1f}".format)

size_summary_df["Average Reading Score"] = size_summary_df["Average Reading Score"].map("{:.1f}".format)

size_summary_df["% Passing Math"] = size_summary_df["% Passing Math"].map("{:.0f}".format)

size_summary_df["% Passing Reading"] = size_summary_df["% Passing Reading"].map("{:.0f}".format)

size_summary_df["% Overall Passing"] = size_summary_df["% Overall Passing"].map("{:.0f}".format)

size_summary_df

## Scores by School Type

In [ ]:
# Calculate averages for the desired columns. 

type_math_scores = per_school_summary_df.groupby(["School Type"]).mean()["Average Math Score"]

type_reading_scores = per_school_summary_df.groupby(["School Type"]).mean()["Average Reading Score"]

type_passing_math = per_school_summary_df.groupby(["School Type"]).mean()["% Passing Math"]

type_passing_reading = per_school_summary_df.groupby(["School Type"]).mean()["% Passing Reading"]

type_overall_passing = per_school_summary_df.groupby(["School Type"]).mean()["% Overall Passing"]

In [ ]:
# Assemble into DataFrame. 

type_summary_df = pd.DataFrame({
          "Average Math Score" : type_math_scores,
          "Average Reading Score": type_reading_scores,
          "% Passing Math": type_passing_math,
          "% Passing Reading": type_passing_reading,
          "% Overall Passing": type_overall_passing})

type_summary_df

In [ ]:
# # Format the DataFrame 

type_summary_df["Average Math Score"] = type_summary_df["Average Math Score"].map("{:.1f}".format)

type_summary_df["Average Reading Score"] = type_summary_df["Average Reading Score"].map("{:.1f}".format)

type_summary_df["% Passing Math"] = type_summary_df["% Passing Math"].map("{:.0f}".format)

type_summary_df["% Passing Reading"] = type_summary_df["% Passing Reading"].map("{:.0f}".format)

type_summary_df["% Overall Passing"] = type_summary_df["% Overall Passing"].map("{:.0f}".format)

type_summary_df